* {
  padding: 10px;
  margin: 0;
  box-sizing: border-box;
  background-color: rgb(255, 255, 255);
  position: relative;
}

.collapse-container {
  width: 500px;
  position: relative;    
}

.collapse-container a {
  text-decoration: none;
  display: inline-block;
  font-family: sans-serif;
  color: rgb(149, 149, 149);
  position: absolute;
  bottom: -30px;
  right: 0;
}

.btn-container {
  background-color: rgb(255, 255, 255);
}

.collapsible-btn {
  background-color: rgb(136, 173, 255);
  color: white;
  cursor: pointer;
  padding: 10px;
  border: none;
  border-radius: 10px;    
  font-size: 20px;
}

.active, .collapsible-btn:hover {
  background-color: rgb(142, 140, 184);
}

.content {
  padding: 0 18px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s ease-in;    
}

.content p {
  border: 1px solid rgb(182, 182, 182);
  border-radius: 10px;
}